- single_content_for :action do
  posted a new
  = link_to_trackable a.trackable, a.trackable_type

- if a.trackable
  = link_to a.trackable, class: 'quote_content_link' do
    %blockquote= p[:summary]

