- single_content_for :action do
  = t('public_activity.quote.posted_a_new', trackable_type: link_to_trackable(a.trackable, a.trackable_type)).html_safe

- if a.trackable
  = link_to a.trackable, class: 'quote_content_link' do
    %blockquote= p[:summary]

