- if f.object.file?
  .col-sm-2
    .thumbnail
      = image_tag f.object.file.thumb.url
      .caption
        = f.link_to_remove 'Remove', class: 'btn btn-danger'
- else
  .col-sm-10
    = f.file_field :file
    = f.hidden_field :file_cache
