.hero-unit
  .pull-right
    = image_tag 'http://www.gravatar.com/avatar/9100faec8b9af029823b0a0ff208b942', class: 'img-circle'
  %h1 Quoty
  %h3 A place where people can share and save the most touching and inspiring quotes or words, in a modern way.


%ul#quotes
  = render @quotes

.well= paginate @quotes, remote: true, :window => 2

.well
  = link_to 'Upload one?', new_quote_path, class: 'btn btn-primary'
