%ul.social-login
  %li
    = link_to '/auth/twitter', class: 'btn' do
      %i.icon-twitter
      Login with Twitter
  %li
    = link_to '/auth/facebook', class: 'btn' do
      %i.icon-facebook
      Login with Facebook