.media
  = user_avatar(current_user, size: '30x30', class: 'avatar media-object', link_options: { class: 'pull-left' })
  .media-body
    = form_for [quote, Comment.new], remote: true, html: { class: 'comment_form form-inline' } do |f|
      .form-group
        = f.text_area :content, rows: '1', placeholder: t('placeholders.comment.content'), class: 'form-control form-control-inline'
      = f.submit class: 'btn btn-default', id: 'comment_submit', data: { disable_with: t('common.posting') }
