@media (max-width: 767px) {
  body {
    padding: 0;

    .navbar.navbar-fixed-top {
      margin-left: 0px;
      margin-right: 0px;
    }

    .container.main_content {
      padding: 0 1em;
    }
  }

  // make it smaller than desktop
  #quotes .quote_body p,
  #quote {
    .quote_body p {
      font-size: 16px;
      line-height: 1.5em;
    }

    .meta_info {
      font-size: 1em;
    }
  }

  // make it smaller than desktop
  li.quote.well .contents {
    padding: 0.4em;
  }

  .jumbotron {
    padding: 1em;

    h1 {
      font-size: 2.3em;
    }

    h3 {
      line-height: 1.2em;
      font-size: 1em;
    }
  }

  #comment_content {
    width: 200px;
    display: inline-block;
  }
}
