-# TODO: refactor the 'like/dislike' type check on Vote
- single_content_for :action do
  - if a.trackable.score == 1
    = t('public_activity.vote.liked', quote: link_to_trackable(a.trackable.quote, t('global.quote'))).html_safe
  - else
    = t('public_activity.vote.disliked', quote: link_to_trackable(a.trackable.quote, t('global.quote'))).html_safe

- if a.trackable
  .comment_summary
    - if a.trackable.score == 1
      %i.icon-thumbs-up
    - else
      %i.icon-thumbs-down
    = link_to a.trackable.quote do
      = p[:summary]

