.main_content.loading {
  opacity: .7;
  -webkit-transition-duration: 0.16s;
  -moz-transition-duration: 0.16s;
  transition-duration: 0.16s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.footer {
  padding: 70px 20px;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

.no_records {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  opacity: .6;
  line-height: 107px;
  text-align: center;
}

abbr.timeago {
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 13px;
}

.no-margin {
  margin: 0;
}

#login_modal {
  .login_message {
    margin-bottom: 30px;
  }

  .modal-footer {
    text-align: left;
  }

  .social_login_container {
    border-right: 1px solid #EEE;
  }
}

#most_recent_joined {
  margin-bottom: 20px;
  .timeago {
    font-size: 14px;
    color: #333;
  }
}

.flash_message {
  display: none;
  top: 40px;
  position: absolute;
  width: 400px;
  left: 50%;
  text-align: center;
  margin-left: -200px;
}

.secondary {
  color: #999;
}

ul {
  -webkit-padding-start: 0;
}
