.quote_body {
  font-family: Lora, Georgia, 'Times New Roman', Times, serif;
  a p {
    color: #333;
  }
}

#quote {
  .quote_body {
    margin: 40px 0;
    font-size: 36px;
    line-height: 57px;
    font-style: italic;
  }

  .meta_info {
    font-size: 18px;
    text-align: right;
  }

  .uploader {
    text-align: right;
    margin-top: 10px;
    color: #A2A2A2;
  }
}

#quotes {
  margin: 0 25px 10px 25px;

  li {
    list-style-type: none;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }

  .quote_body {
    margin: 10px 0;

    p {
      font-size: 24px;
      line-height: 35px;
      font-style: italic;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .meta_info {
    font-size: 14px;
    text-align: right;
  }
}