.quote {
  position: relative;
  blockquote {
    margin-left: 60px;
  }
  .score {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0.5em;
    width: 50px;
    .score_value {
      font-size: 1.6em;
      font-weight: bold;
      margin-bottom: 0.3em;
    }
    .vote_link {
      text-decoration: none;
      color: #666;
      &.active.up { color: lime; }
      &.active.down { color: red; }
      i { font-size: 18px; }
    }

    .popover {
      width: 317px;
    }
    .popover-title {
      display: none;
    }
    .suggestion_footer {
      padding: 15px;
      margin-bottom: 0;
      background-color: whiteSmoke;
      border-top: 1px solid #DDD;

      .btn-primary {
        margin-right: 10px;
      }
    }
    .suggestion_comment {
      text-align: left;
      padding-bottom: 20px;
    }
  }
}
