= title "#{@user.name}'s Activities"

.page-header
  %h1 #{@user.name}'s Activities

%ul.activities
  - @activities.each do |activity|
    %li= render_activity(activity, layout: 'layouts/activity_wrapper')