= title "#{@user.name}'s Activities"

.well
  .page-header
    %h1= t('.activities_page', user_name: @user.name)

  %ul.activities
    - @activities.each do |activity|
      %li= render_activity(activity, layout: 'layouts/activity_wrapper')
