.well
  .page-header
    %h1 Forgot your password?

  = simple_form_for :reset_password, url: reset_passwords_path do |f|
    = f.input :email, as: :email
    = f.submit 'Continue', class: 'btn btn-primary'