%footer.footer
  .container
    .row-fluid
      .span6
        %p= link_to 'About this site', about_path
        %p
          Designed and built by
          = link_to '@kinopyo', 'https://twitter.com/fantasyday'
        %p
          You can find the source code on
          = link_to 'Github', 'https://github.com/kinopyo/quoty'
      .social_footer.span6
        :plain
          <div class="fb-like" data-href="https://www.facebook.com/pages/Quoty/465845253461976" data-send="false" data-width="450" data-show-faces="true"></div>
